# =====================================
# ARQUIVOS SENSÍVEIS E LOCAIS
# =====================================
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
terraform.tfvars.json
*.pem
*.key
*.crt
*.csr
eks-terraform-policy.json
github-oidc-trust.json
*.secret
*.secrets

# Credenciais AWS (caso alguém salve erroneamente)
.aws/
*.aws

# =====================================
# PASTAS TERRAFORM
# =====================================
.terraform/
.terraform.lock.hcl

# =====================================
# PYTHON
# =====================================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# =====================================
# DOCKER BUILD
# =====================================
*.tar
*.log

# =====================================
# SISTEMA / EDITORES
# =====================================
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# =====================================
# KUBERNETES LOCAL FILES
# =====================================
kubeconfig
.kube/
